@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-elements {
    @apply max-w-[770px] mx-auto px-5 py-2 w-full;
  }
}
body {
  font-family: "Spartan", sans-serif;
}

[data-theme="night"] {
  .list-a {
    background-color: #1e2139;
    color: var(--color-light-bg);
  }
  .list-a:hover {
    background-color: #1e2139;
  }
  .footer-a {
    background-color: #0c0e16;
  }
  input {
    background-color: #1e2139;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
